In [1]:
#因為version1的準確率實在有點淒慘，我決定再嘗試不同的欄位組合

In [2]:
#import library

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib as plt

In [6]:
import seaborn as sns

In [7]:
import matplotlib.pyplot as plt

In [8]:
#讀資料

In [9]:
df = pd.read_csv("data/train.csv")

In [10]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0
5,5,Female,34.0,0,0,Yes,Private,Urban,84.35,22.2,Unknown,0
6,6,Female,53.0,0,0,Yes,Private,Rural,88.97,25.3,never smoked,0
7,7,Male,78.0,0,1,Yes,Self-employed,Rural,75.32,24.8,Unknown,0
8,8,Female,45.0,0,0,Yes,Private,Rural,107.22,34.1,never smoked,0
9,9,Female,62.0,0,0,Yes,Govt_job,Urban,62.68,18.4,formerly smoked,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [12]:
# 都沒缺值

In [13]:
#先把型態換成數值再來觀察各欄位與中風的關聯

In [14]:
df=pd.get_dummies(data=df,columns=['gender','ever_married','Residence_type','smoking_status','work_type'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              15304 non-null  int64
 1   age                             15304 non-null  float64
 2   hypertension                    15304 non-null  int64
 3   heart_disease                   15304 non-null  int64
 4   avg_glucose_level               15304 non-null  float64
 5   bmi                             15304 non-null  float64
 6   stroke                          15304 non-null  int64
 7   gender_Female                   15304 non-null  uint8
 8   gender_Male                     15304 non-null  uint8
 9   gender_Other                    15304 non-null  uint8
 10  ever_married_No                 15304 non-null  uint8
 11  ever_married_Yes                15304 non-null  uint8
 12  Residence_type_Rural            15304 non-null  uint8
 13  Residence_type_Urban            15304 non-null  uint8
 14  smoking_status_Unknown          15304 non-null  uint8
 15  smoking_status_formerly smoked  15304 non-null  uint8
 16  smoking_status_never smoked     15304 non-null  uint8
 17  smoking_status_smokes           15304 non-null  uint8
 18  work_type_Govt_job              15304 non-null  uint8
 19  work_type_Never_worked          15304 non-null  uint8
 20  work_type_Private               15304 non-null  uint8
 21  work_type_Self-employed         15304 non-null  uint8
 22  work_type_children              15304 non-null  uint8
dtypes: float64(3), int64(4), uint8(16)
memory usage: 1.1 MB

In [16]:
df.groupby('stroke').mean()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
stroke,,,,,,,,,,,,,,,,,,,,,
0,7667.353394,40.254676,0.043143,0.019834,88.250602,28.021489,0.618730,0.381202,0.000068,0.332470,...,0.499250,0.302276,0.148446,0.410578,0.138700,0.099782,0.002863,0.637132,0.121388,0.138836
1,7283.460443,68.417722,0.202532,0.104430,107.362468,30.230696,0.582278,0.417722,0.000000,0.064873,...,0.498418,0.170886,0.251582,0.406646,0.170886,0.109177,0.000000,0.639241,0.250000,0.001582

In [17]:
#中風的人年紀平均比較大，血壓比較高，比較多有心臟病，葡萄糖、Bmi比較高

In [18]:
df['gender_Other'].value_counts()

0    15303
1        1
Name: gender_Other, dtype: int64

In [19]:
#gender_Other只有一人

In [20]:
#開始預測！移除我覺得沒關聯的欄位

In [21]:
df.drop(['ever_married_No','ever_married_Yes'],axis=1,inplace=True)

In [22]:
df.drop(['gender_Other'],axis=1,inplace=True)#gender_Other只有一人，個數太少，我認為可以刪除他

In [23]:
df.drop(['smoking_status_formerly smoked'],axis=1,inplace=True)

In [24]:
df.drop(['smoking_status_Unknown'],axis=1,inplace=True)

In [25]:
#抽煙只留抽與不抽

In [26]:
df.drop(['id'],axis=1,inplace=True)

In [27]:
#移除id類型欄位

In [28]:
df.drop(['work_type_Govt_job'],axis=1,inplace=True)

In [29]:
df.drop(['work_type_Never_worked'],axis=1,inplace=True)

In [30]:
df.drop(['work_type_Private'],axis=1,inplace=True)

In [31]:
df.drop(['work_type_Self-employed'],axis=1,inplace=True)

In [32]:
df.drop(['work_type_children'],axis=1,inplace=True)

In [33]:
#移除工作類型欄位

In [34]:
#看有沒有多餘的欄位要刪除

In [35]:
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,Residence_type_Rural,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
0,28.0,0,0,79.53,31.1,0,0,1,0,1,1,0
1,33.0,0,0,78.44,23.9,0,0,1,1,0,0,0
2,42.0,0,0,103.00,40.3,0,1,0,1,0,0,0
3,56.0,0,0,64.87,28.8,0,0,1,0,1,1,0
4,24.0,0,0,73.36,28.8,0,1,0,1,0,1,0

In [36]:
df.drop('Residence_type_Rural',axis=1,inplace=True)

In [37]:
#住在鄉下或都市只要留一個就好，留下是否住在都市

In [38]:
df.drop('gender_Female',axis=1,inplace=True)

In [39]:
#性別只要留一個就好

In [40]:
df.corr()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,Residence_type_Urban,smoking_status_never smoked,smoking_status_smokes
age,1.000000,0.232629,0.193394,0.108897,0.390721,0.261320,-0.032815,0.013268,0.136508,0.072485
hypertension,0.232629,1.000000,0.074178,0.122834,0.106665,0.145895,0.005416,0.002463,0.045020,0.024634
heart_disease,0.193394,0.074178,1.000000,0.137147,0.054583,0.111518,0.061787,0.007602,-0.013657,0.014982
avg_glucose_level,0.108897,0.122834,0.137147,1.000000,0.108142,0.149273,0.035514,-0.015051,-0.017859,0.026088
bmi,0.390721,0.106665,0.054583,0.108142,1.000000,0.065393,-0.015238,0.003404,0.125664,0.096367
stroke,0.261320,0.145895,0.111518,0.149273,0.065393,1.000000,0.014950,-0.000331,-0.001591,0.018455
gender_Male,-0.032815,0.005416,0.061787,0.035514,-0.015238,0.014950,1.000000,-0.002664,-0.108444,0.014276
Residence_type_Urban,0.013268,0.002463,0.007602,-0.015051,0.003404,-0.000331,-0.002664,1.000000,-0.005466,0.018898
smoking_status_never smoked,0.136508,0.045020,-0.013657,-0.017859,0.125664,-0.001591,-0.108444,-0.005466,1.000000,-0.336671
smoking_status_smokes,0.072485,0.024634,0.014982,0.026088,0.096367,0.018455,0.014276,0.018898,-0.336671,1.000000

In [41]:
#看不出東西，所以先不刪任何欄位

In [42]:
#Prepare training data

In [43]:
X = df.drop(['stroke'],axis=1)

In [44]:
y=df['stroke']

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.3, random_state=50)

In [47]:
#調整random_state

In [48]:
#using Logistic regression model

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
lr=LogisticRegression(solver='lbfgs', max_iter=10000)

In [51]:
lr.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [52]:
predictions=lr.predict(X_test)

In [53]:
#Evaluate

In [54]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score

In [55]:
accuracy_score(y_test,predictions)

0.9568815331010453

In [56]:
recall_score(y_test,predictions)

0.030612244897959183

In [57]:
precision_score(y_test,predictions)

0.42857142857142855

In [58]:
pd.DataFrame(confusion_matrix(y_test,predictions),columns=['Predict not stroke', 'Predict stroke'],index=['True not stroke','True stroke'])

                 Predict not stroke  Predict stroke
True not stroke                4388               8
True stroke                     190               6

In [59]:
import joblib

In [60]:
joblib.dump(lr,'stroke_prediction version2.pkl',compress=3)

['stroke_prediction version2.pkl']