In [1]:
#import library/讀資料

In [2]:
import joblib

In [3]:
model_pretrained=joblib.load('stroke_prediction version1.pkl')

In [4]:
import pandas as pd

In [5]:
df_test=pd.read_csv("data/test.csv")

In [6]:
#對資料做一樣的處理

In [7]:
df_test=pd.get_dummies(data=df_test,columns=['gender','ever_married','Residence_type','smoking_status','work_type'])

In [8]:
df_test.drop(['ever_married_No','ever_married_Yes'],axis=1,inplace=True)

In [9]:
df_test.drop('Residence_type_Rural',axis=1,inplace=True)

In [10]:
df_test.head

<bound method NDFrame.head of           id   age  hypertension  heart_disease  avg_glucose_level   bmi  \
0      15304  57.0             0              0              82.54  33.4
1      15305  70.0             1              0              72.06  28.5
2      15306   5.0             0              0             103.72  19.5
3      15307  56.0             0              0              69.24  41.4
4      15308  32.0             0              0             111.15  30.1
...      ...   ...           ...            ...                ...   ...
10199  25503  27.0             0              0              75.77  17.6
10200  25504  49.0             0              0             102.91  26.7
10201  25505   3.0             0              0             104.04  18.3
10202  25506  31.0             0              0              82.41  28.7
10203  25507   2.0             0              0              85.12  14.8

       gender_Female  gender_Male  gender_Other  Residence_type_Urban  \
0                  1            0             0                     0
1                  0            1             0                     1
2                  1            0             0                     1
3                  1            0             0                     1
4                  0            1             0                     0
...              ...          ...           ...                   ...
10199              1            0             0                     1
10200              0            1             0                     1
10201              1            0             0                     0
10202              0            1             0                     1
10203              1            0             0                     1

       smoking_status_Unknown  smoking_status_formerly smoked  \
0                           1                               0
1                           1                               0
2                           1                               0
3                           0                               0
4                           0                               0
...                       ...                             ...
10199                       0                               0
10200                       1                               0
10201                       1                               0
10202                       0                               0
10203                       1                               0

       smoking_status_never smoked  smoking_status_smokes  work_type_Govt_job  \
0                                0                      0                   0
1                                0                      0                   0
2                                0                      0                   0
3                                0                      1                   1
4                                0                      1                   0
...                            ...                    ...                 ...
10199                            1                      0                   0
10200                            0                      0                   0
10201                            0                      0                   0
10202                            1                      0                   0
10203                            0                      0                   0

       work_type_Never_worked  work_type_Private  work_type_Self-employed  \
0                           0                  1                        0
1                           0                  1                        0
2                           0                  0                        0
3                           0                  0                        0
4                           0                  1                        0
...                       ...                ...                      ...
10199                       0                  1                        0
10200                       0                  1                        0
10201                       0                  0                        0
10202                       0                  1                        0
10203                       0                  0                        0

       work_type_children
0                       0
1                       0
2                       1
3                       0
4                       0
...                   ...
10199                   0
10200                   0
10201                   1
10202                   0
10203                   1

[10204 rows x 19 columns]>

In [11]:
#預測

In [12]:
predictions2 = model_pretrained.predict(df_test)

In [13]:
#產生答案要的格式

In [14]:
#這個競賽要的模式不需要用dataframe，因此上網查了一下要怎麼印，但礙於目前技術問題無法解決，預期於version2改進

In [15]:
forSubmissionDF=pd.DataFrame(columns=['id','stroke'])

In [16]:
forSubmissionDF['id']=range(15304,25508)

In [17]:
forSubmissionDF['stroke']=predictions2

In [18]:
forSubmissionDF

          id  stroke
0      15304       0
1      15305       0
2      15306       0
3      15307       0
4      15308       0
...      ...     ...
10199  25503       0
10200  25504       0
10201  25505       0
10202  25506       0
10203  25507       0

[10204 rows x 2 columns]

In [21]:
forSubmissionDF.to_csv('stroke_prediction version1.csv', index=False)